<% include ../partials/header %>

<div class="ui main text container segment">
    <h2>please signup below </h2>

        <form class="ui form" action="/register" method="POST" >
                <div class="field">
                  <label>Username</label>
                  <input type="text" name="username" placeholder="username here">
                </div>
                <div class="field">
                  <label>password</label>
                  <input type="password" name="password" placeholder="password here ">
                </div>
             
                <button class="ui green button" type="submit">Sign up!</button>
              </form>


</div>



<% include ../partials/footer %>